@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

:root {
  --background-color: #F5F4FF;
  --main-accent-color: #561FCC;
  --main-txt-color: black;
  --main-shadow-color: rgb(126, 117, 138);
}

.affirmationsForm{
  width: 100%;
  text-align: center;
}

.affirmationsFrame {
  align-self: center;
  background-color: var(--background-color);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px var(--main-shadow-color);
}

.prompts {
  align-content: center;
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--main-txt-color);
}

input[type = "text"] {
  position: relative;
  width: 85%;
  left: 5%;
}
