@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

:root {
  --background-color: #F5F4FF;
  --main-accent-color: #561FCC;
  --main-txt-color: black;
}

.affirmationsCardContainer {
  align-self: center;
  width: 100%;
  background-color: var(--background-color);
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: var(--main-txt-color);
  box-shadow: 1px 1px 1px var(--main-shadow-color);

}
