@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

:root {
  --background-color: #F5F4FF;
  --main-accent-color: #561FCC;
  --main-txt-color: black;
  --main-shadow-color: rgb(126, 117, 138);
}

.postContainer {
  position: relative;
  height: auto;
  width: 500px;
  background-color: var(--background-color);
  margin: 20px auto;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px var(--main-shadow-color);
}

.userName {
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  padding-left: 20px;
  color: var(--main-accent-color);
}

.postText {
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  word-wrap: break-word;
  color: var(--main-txt-color);
}

.likeContainer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 20px;
  bottom: 12px;
  height: 20px;
}

.numberLikes {
  position: relative;
  padding-right: 8px;
  align-content: center;
  display: flex;
  bottom: -5px;
}

.complimentButton {
  position: absolute;
  right: 20px;
  height: 30px;
}

.dialog {
  height: 150px;
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 20px;
}
