@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

:root {
  --background-color: #F5F4FF;
  --main-accent-color: #561FCC;
  --main-txt-color: black;
  --main-highlight-color: rgb(136, 92, 177);}

.postFormContainer {
  height: 250px;
  width: 400px;
  background-color: var(--background-color);
  padding: 20px;
}

.userName {
  display: flex;
  flex-direction: 'row';
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;

  color: var(--main-accent-color);
}

.name {
  width: fill;
}

.close {
  text-align: right;
  cursor: pointer;
}

.postText {
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: var(--main-txt-color);
  text-align: center;
  margin-top: 15px;
}

.textField {
  width: 300px;
}

.submitButton {
  padding-top: 20px;
}

.anonymousCheck {
  margin-top: 20px;
  bottom: 20px;
  margin-right: 20px;
}

.checkbox-text {
  display: inline-block;
  font-size: 15px;
  bottom: 20px;
}

.complimentButton {
  position: absolute;
  right: 25px;
}

input[type = "checkbox"] {
  margin-right: 25px;
  display: inline-block;
}
