@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

/* Universal constant colors/sizing to be used throughout */
:root {
  --main-accent-color: #561FCC;
  --main-highlight-color: rgb(136, 92, 177);
  /* --main-highlight-color: #7856c7; */
  --background-color: #F5F4FF;
  --main-txt-color: black;
  --large-padding: 30px;
  --icon-size: 60px;
}


.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.UJI {
  position: fixed;
  padding-top: var(--large-padding);
  padding-left: var(--large-padding);
  width: 90px;
  height: var(--icon-size);

  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;

  color: var(--main-accent-color);
  cursor: pointer;
}

.UJI:hover {
  color: var(--main-highlight-color);
}

.Parent {
  overflow: hidden;
}

.profileButton {
  position: fixed;
  right: var(--large-padding);
  padding-top: 25px;
  color: var(--main-accent-color);
  cursor: pointer;
}

.profileButton:hover {
  color: var(--main-highlight-color);
}

.newPostButton {
  position: fixed;
  bottom: var(--large-padding);
  right: var(--large-padding);
  color: var(--main-accent-color);
  cursor: pointer;
}

.newPostButton:hover {
  color: var(--main-highlight-color);
}

.dialog {
  height: 150px;
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 20px;
}

.logout {
  position: fixed;
  bottom: var(--large-padding);
  left: var(--large-padding);
  cursor: pointer;
  color: var(--main-accent-color);
}

.logout:hover {
  color: var(--main-highlight-color);
}

.Fade {
  animation: FadeAnim;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes FadeAnim {
  0% {
   opacity: 0;
  }

 100% {
   opacity: 1;
  }
}
