/* Universal constant colors/sizing to be used throughout */
:root {
  --main-accent-color: #561FCC;
  --main-txt-color: black;
  --large-padding: 30px;
  --icon-size: 60px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.UJI {
  padding-top: var(--large-padding);
  padding-left: var(--large-padding);
  width: 90px;
  height: var(--icon-size);

  font-family: Arial Rounded MT Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 56px;

  color: var(--main-accent-color);
}

.profileButton {
  padding-right: var(--large-padding);
  padding-top: var(--large-padding);
}

.newPostButton {
  position: fixed;
  bottom: var(--large-padding);
  right: var(--large-padding);
}
